In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Dust_LatLon_Drobo_Complete_June2022_Jesse - Data LatLon.csv')

In [3]:
df_dust = df[df["Jesse Check"] == "x"]

In [4]:
df_dust

,Date (YYYYMMDD),YYYY,M,D,latitude,longitude,start time (UTC),Jesse Check,Notes,New GOES Notes,Julian day,GOES Raw,GOES Images,Unnamed: 13,Unnamed: 14,Unnamed: 15
24,20010116.0,2001.0,1.0,16.0,30.3,-107.4,1900.0,x,NaN,Northern CHH,NaN,NaN,NaN,NaN,NaN,20010504.0
25,20010116.0,2001.0,1.0,16.0,29.3,-106.9,1900.0,x,NaN,Central CHH,NaN,NaN,NaN,NaN,NaN,20010505.0
26,20010116.0,2001.0,1.0,16.0,28.6,-106.7,1930.0,x,NaN,"Subtle, Central CHH",NaN,NaN,NaN,NaN,NaN,20010516.0
27,20010125.0,2001.0,1.0,25.0,31.1,-107.9,1930.0,x,NaN,Northern CHH,NaN,NaN,NaN,NaN,NaN,20010517.0
28,20010127.0,2001.0,1.0,27.0,31.2,-107.9,2000.0,x,NaN,"Cloud coverage, northern CHH",NaN,NaN,NaN,NaN,NaN,20010520.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2349,20201223.0,2020.0,12.0,23.0,38.0,-101.7,1530.0,x,NaN,KS,NaN,NaN,NaN,NaN,NaN,NaN
2350,20201229.0,2020.0,12.0,29.0,29.3,-106.8,1930.0,x,NaN,CHH,NaN,NaN,NaN,NaN,NaN,NaN
2351,20201229.0,2020.0,12.0,29.0,28.9,-106.9,1930.0,x,NaN,CHH,NaN,NaN,NaN,NaN,NaN,NaN
2352,20201229.0,2020.0,12.0,29.0,29.0,-104.8,2000.0,x,NaN,CHH,NaN,NaN,NaN,NaN,NaN,NaN
2353,20201229.0,2020.0,12.0,29.0,29.0,-105.8,2100.0,x,NaN,CHH,NaN,NaN,NaN,NaN,NaN,NaN